:root {
  --navbar-width: 300px;
  --color-light: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Super Funtime", sans-serif;
}
li,
ul,
a {
  text-decoration: none;
  list-style: none;
  margin: 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.home {
  position: relative;
  width: 100%;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(178, 142, 101, 0.959);
}
.home::before {
  z-index: 777;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home .content {
  z-index: 888;
  color: #fff;
  margin: 3rem auto 0;
  width: 70%;
  display: none;
}
.home .content.active {
  display: block;
}
.home .content h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 900;
  text-transform: Uppercase;
  letter-spacing: 5px;
  line-height: 75px;
}
.home .content p {
  margin: 1rem 0;
  font-size: 1.2em;
  font-weight: 600;
}
.home .content a {
  background-color: #fff;
  padding: 15px 35px;
  color: #252525;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}
.home .content a:hover {
  background: #b28e65;
  color: #fff;
}
.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.home .media-icons a {
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}
.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}
.home .media-icons a:hover {
  transform: scale(1.3);
  color: #b28e65;
}
.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(150px);
  margin-bottom: 12px;
}
.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.slider-navigation .nav-btn.active {
  background: #b28e65;
}
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}
.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}
.img-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.img-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
/* .header {

  color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.header-container {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 1%;
}
.header-menu {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 2rem;
  gap: 1.5rem;
}
.header-menu-item {
  display: block;
  padding: 8px 16px;
}
.header-menu-item {
  display: block;
  padding: 8px 16px;
}
.header-nav li a {
  color: #ffffff;
  text-decoration: none;
}
.navbar-toggleBtn {
  display: none;
  color: #ffffff;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.header-logo a {
  text-decoration: none;
  list-style: none;
  color: #dddddd;
}
.header-logo-img {
  max-width: 130px;
}
.main-container {
  max-width: 1280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main-title p {
  margin: 1.5rem 1.5rem 0.5rem;
  font-size: 1.5rem;
}
.main-title h1 {
  margin: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 6.25rem;
  line-height: 1;
}
.main-title .divider {
  padding: 1.5rem;
  width: 35px;
  border-top: 2px solid #ffffff;
}
.main-btn {
  margin: 0 0 2rem;
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  border: 1px solid #b28e65;
  list-style: none;
  text-transform: uppercase;
}
.main-btn:hover {
  background-color: #b28e65;
  color: #ffffff;
}
.about-section {
  background: url(./assets/images/bg-02-free-img.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 175px 0;
  color: #ffffff;
}
.about-description-box {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.about-description-box h6 {
  font-size: 1rem;
}
.about-description-box h2 {
  font-size: 4.5rem;
  text-transform: capitalize;
}
.about-description-box .divider {
  display: flex;
  text-align: center;
  width: 50px;
  border-top: 2px solid #ffffff;
}
.about-description-box h5 {
  font-size: 1.5rem;
}
.about-description-box button {
  background-color: #ededed;
  font-size: 0.75rem;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.25rem 1.5rem;
  border: none;
}
.about-description-box button:hover {
  background-color: #ffffff;
}
.menu-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu-left-box,
.menu-right-box {
  width: 100%;
  position: relative;
}
.bar-menu-box {
  width: 100%;
  height: 80vh;
  background: url("./assets/images/bar-menu.jpg");
  background-size: 100%;
  background-position: center;
}
.food-menu-box {
  width: 100%;
  height: 80vh;
  background: url("./assets/images/food-menu.jpg");
  background-size: 100%;
  background-position: center;
}
.content-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.content-box h2 {
  margin: 2rem;
}
.content-box p {
  margin: 1rem 0 2rem;
}
.menu-left-box .content-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-right-box .content-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.food-menu-box::after,
.bar-menu-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.bar-menu-box:hover:after,
.food-menu-box:hover:after {
  opacity: 1;
  transition: 0.3s;
}
.wine-section {
  background-color: transparent;
  background-image: radial-gradient(
    at center center,
    #f8f1e3 -20%,
    #ffffff 100%
  );
}
.wine-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wine-title-box {
  margin-top: 3rem;
  font-size: 3.5rem;
  text-align: center;
}
.wine-title-box .divider {
  margin: 1.5rem auto;
  padding: 1.5rem;
  width: 10px;
  border-bottom: 2px solid #b28e65;
}
.wine-list-box {
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wine-item {
  padding: 1.5rem 1rem 1rem;
  text-align: center;
}
.wine-item p {
  padding: 1.5rem;
}
.wine-item .divider {
  padding: 1rem;
  width: 98%;
  border-top: 1px solid #b28e65;
}
.wine-item span {
  color: #b28e65;
  font-size: 1.25rem;
}
.wine-item:hover {
  background-color: #ffffff;
  border-radius: 5px;
}
.main-btn .book {
  color: #1d1d1d;
}
.main-btn .menu {
  color: #ffffff;
}
.wine-btn-box button {
  margin: 0 0 2rem;
  background-color: #ffffff00;
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  border: 1px solid #b28e65;
}
.wine-price-box h2 {
  font-size: 1.25rem;
}
.wine-price-box {
  margin: 1rem 1rem 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
/*  Pub Gallery Start*/
.gallery-section {
  margin: 5rem 0 0;
}
.about-us-gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 5vw);
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery-item-2 {
  background-color: #b28e65;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery-item-2 .divider {
  padding: 1.5rem;
  width: 35px;
  border-top: 2px solid #ffffff;
}
.gallery-item-3 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery-item-4 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 8;
}
.gallery-item-5 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 8;
}
.gallery-item-6 {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 6;
  grid-row-end: 8;
}
.book-section {
  position: relative;
  height: 80vh;
  background-image: url("./assets/images/bg-image.jpg");
  background-position: center;
  background-size: contain;
  background-size: cover;
}
.book-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.book-box-overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.book-box {
  color: #ffffff;
  text-align: center;
}
.book-box p {
  width: 100%;
  margin: 1rem 0 2rem;
  font-size: 1rem;
}
/* Testimonial Section Start */
.testimonial-section {
  margin: 5rem auto;
}
.testimonial-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.testimonial-section .container > h2,
.book-box h2 {
  margin: 1rem 0;
  font-size: 3rem;
}
.testimonial-section .container > p {
  font-family: Gilroy-Regular;
  width: 40%;
  font-size: 1rem;
  text-align: center;
  color: #62605e;
}
.card-container {
  max-width: 1140px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.testimonial-card {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-duration: 2s;
}
.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce2 {
  animation-name: bounce2;
  animation-timing-function: ease;
}
@keyframes bounce2 {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
.testimonial {
  padding: 1.5rem;
  background-color: #f6f4f0;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  border-color: #d9d1c0;
}
.testimonial > p {
  color: #62605e;
  font-family: Gilroy-Regular;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625em;
}
.testimonial-info {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
}
.testimonial-info img {
  width: 55px;
  height: 55px;
}
.testimonial-info p {
  color: #858382;
  font-family: Gilroy-Regular;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.5em;
}
.testimonial-info span {
  color: #1f1d16;
  font-family: "Playfair Display", Sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.testimonial-drink {
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  height: 296px;
}

/* Testimonial Section End */
/* Contact Section Start */
.contact-section {
  background-color: #f6f4f0;
  color: #1d1d1d;
}
.contact-section .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9rem 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.location-left-box h2 {
  font-size: 4rem;
}
.contact-box-1 h2 {
  font-family: Gilroy-Heavy;
  font-size: 4rem;
}
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 24px;
  border-radius: 50%;
}
.icon-box:hover {
  background-color: #ffffff21;
}
.icon-box:hover {
  fill: #b28e65;
  color: #b28e65;
  border-color: #b28e65;
}
.phone-number-box,
.email-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.contact-box-1 p {
  font-family: Gilroy-Regular;
  margin: 2rem 1rem;
  color: #1d1d1d;
  line-height: 1.5;
  font-weight: 300;
}
.contact-box-1 span {
  font-family: Gilroy-Heavy;
  display: block;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300px;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
textarea {
  font-family: "Super Funky", sans-serif;
  height: auto;
  background: #f6f4f0;
  color: #1d1d1d;
  border: 1px solid #d9d1c0;
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s linear;
  margin: 1rem 0;
}
textarea {
  height: 200px;
  padding: 1rem;
}
.contact-form input {
  width: 672px;
  padding: 1rem 1rem;
}
.contact-form button {
  font-family: "Super Funky", sans-serif;
  width: 264px;
  padding: 1.25rem 2rem;
  background: #f6f4f0;
  border: 1px solid #d9d1c0;
  color: #1d1d1d;
  font-size: 1.25rem;
  border-radius: 2px;
  font-weight: bold;
}
.contact-form button:hover {
  background-color: #1f1d16;
  color: #f6f4f0;
  border: none;
}
/* Contact Section End */
/* Footer Section Start */
.footer-section {
  background-color: #ededed;
  color: #262626;
  padding: 5rem 0;
}
.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container h2 {
  font-family: Gilroy-Bold;
  font-size: 1.25rem;
  padding: 0.75rem 0;
}
.footer-logo {
  text-align: center;
}
.footer-logo p {
  font-family: Gilroy-Heavy;
}
.footer-box-1 p {
  font-family: Gilroy-Light;
  margin: 0.5rem 0;
}
.footer-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-box-2 li {
  padding: 0.25rem;
}
.open-hours li {
  display: flex;
}
.open-hours li span {
  width: 95px;
}
.footer-box-1 a {
  font-family: Gilroy-Light;
  display: block;
  color: #252525;
  margin: 0.5rem 0;
}
.social-icons-box {
  display: flex;
  gap: 0.25rem;
}
.social-icons-box i {
  padding: 1rem;
}

@media (min-width: 1025px) {
  .book-section {
    background-attachment: fixed;
  }
}
/*  Pub Gallery End*/
@media screen and (max-width: 1024px) {
  .header .header-container {
    padding: 1rem 0;
    flex-direction: column;
    border-bottom: 1px solid#FFFDEB;
  }
  section {
    padding: 100px 20px;
  }
  .home .media-icons {
    right: 15px;
  }
  .header-menu {
    display: none;
    flex-direction: column;
    gap: 0;
    margin: 0rem 1rem;
  }
  .header-menu li {
    width: 100%;
    text-align: center;
  }
  .navbar-toggleBtn {
    display: block;
    top: 1rem;
    left: 1.5rem;
    color: #ffffff;
  }
  .header-menu.open {
    display: flex;
  }
  .main-title {
    margin-top: 4rem;
  }
  .main-title h1 {
    width: 100%;
    padding: 1.5rem;
    font-size: 4rem;
  }
  .main-title p {
    width: 80%;
    padding: 1.5rem;
  }
  .main-title span {
    padding: 1rem;
    margin-left: 1rem;
  }
  .contact-form input {
    width: 540px;
  }
  .card-container {
    max-width: 1000px;
  }
  .offer-section .container,
  .menu-section .container,
  .feature-section .container,
  .testimonial-section .container,
  .schedule-section .container {
    max-width: 1000px;
  }
  .contact-box-1 {
    padding: 0 1rem;
  }
  .contact-section .container {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
  }
}
/* Responsive 820px Start*/
@media screen and (max-width: 820px) {
  .header-menu-item {
    display: block;
    padding: 8px 5px;
  }
  .main-image img {
    width: 100%;
    padding: 1.5rem;
  }
  .main-title h1 {
    width: 90%;
    font-size: 2.5rem;
  }
  .main-title p {
    width: 80%;
    font-size: 1.25rem;
    margin: 2rem 0 4rem;
  }
  .about-img {
    width: 780px;
    height: 600px;
  }
  .about-right-box {
    max-width: 100%;
    padding: 1.5rem 5rem;
  }
  .schedule-section-title {
    padding: 3rem 5rem;
  }
  .about-section {
    flex-direction: column;
  }
  .menu-card {
    max-width: 600px;
    flex-direction: column;
  }
  .menu-card img {
    width: 100%;
    height: 450px;
  }
  .menu-gallery {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery-item {
    width: 600px;
    height: 500px;
  }
  .gallery-img {
    width: 404px;
    height: 300px;
  }
  .feature-container {
    align-items: center;
    max-width: 600px;
  }
  .testimonial-section .container {
    text-align: center;
  }
  .menu-section .container,
  .testimonial-section .container {
    max-width: 600px;
  }
  .schedule-section .schedule-list-box {
    width: 600px;
    grid-template-columns: 1fr;
  }
  .feature-container > p,
  .menu-section .container > p,
  .testimonial-section .container > p {
    width: 100%;
  }
  .schedule-box p {
    margin-top: 0.75rem;
  }
  .card-container {
    max-width: 600px;
    margin: 5rem auto;
    flex-direction: column;
    gap: 1rem;
  }
  .contact-section .container {
    flex-direction: column;
    padding: 2rem;
  }
  .contact-form input {
    width: 500px;
  }
  .contact-box-1 h2 {
    font-size: 3rem;
  }
  .contact-box-1 {
    margin: 1rem 0;
  }
  .contact-section .container {
    align-items: center;
  }
  .footer-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
/* Responsive 820px End*/
/* Responsive 598px Start*/
@media screen and (max-width: 598px) {
  .btn-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .about-left-box img,
  .schedule-section .container,
  .schedule-section .schedule-list-box,
  .contact-form input {
    max-width: 300px;
  }
  .contact-box-1 h2 {
    font-size: 2rem;
  }
  .contact-box-1 span {
    font-size: 1rem;
  }
  .footer-container {
    gap: 3rem;
    margin: 4rem auto;
  }
}
/* Responsive 598px End*/
